[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
channels = "*"
channels_redis = "*"
Pillow = "*"
django_filter = "*"
django_heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
