{% extends 'schedule_app/main.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="card card-body" style="text-align: center">
            <h5>Custom Chat Room</h5>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="Submit">
            </form>
            <br>
            <h5>Preset Chat Rooms</h5>
            <div>
                <a class="nav-link" href="/chat/employee">Employee Chatroom</a>
                <a class="nav-link" href="/chat/server">Server Chatroom</a>
                <a class="nav-link" href="/chat/cook">Cook Chatroom</a>
                <a class="nav-link" href="/chat/host">Hostest Chatroom</a>
                <a class="nav-link" href="/chat/busser">Busser Chatroom</a>
                <a class="nav-link" href="/chat/dishwasher">Dishwasher Chatroom</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}