{% extends 'schedule_app/main.html' %}

{% block content %}

{% include 'schedule_app/status.html' %}

<br>


<div class="row">
    <div class="col-md-4">
        <h5>EMPLOYEES:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Employee</th>
                    <th>Position</th>
                </tr>

                {% for employee in employees %}
                <tr>
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                    <td><a class="btn btn-sm btn-outline-info" href="{% url 'employee' employee.id %}">View</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>TASKS</h5>
        <hr>
        <div class="card card-body" style="width: 115%; text-align: center;">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-sm btn-outline-primary" type="submit">Search</button>
            </form>
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Date Due</th>
                    <th>Priority</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for task in tasks %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.date_due}}</td>
                    <td>{{task.priority}}</td>
                    <td><a class="btn btn-sm btn-outline-dark" href="{% url 'task_details' task.id %}">Details</a>
                    </td>
                    <td><a class="btn btn-sm btn-outline-info" href="{% url 'update_task' task.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_task' task.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}