{% extends 'schedule_app/main.html' %}
{% block content %}
{% include 'schedule_app/status.html' %}
<br>
<div class="col-md-7">
    <h5>TASKS</h5>
    <hr>
    <div class="card card-body">
        <form method="get">
            {{myFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <table class="table table-sm">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Date Assigned</th>
                <th>Date Due</th>
                <th>Priority</th>
                <!-- Add a click on for details -->
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.status}}</td>
                <td>{{task.date_assigned}}</td>
                <td>{{task.date_due}}</td>
                <td>{{task.priority}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}