{% extends 'schedule_app/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Employee:</h5>
            <hr>
            <a class="btn btn-outline-warning  btn-sm btn-block" href="">Update Employee</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Employee</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_task' employee.id %}">Assign To
                Task</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Employee Information</h5>
            <hr>
            <p>Name: {{employee.name}}</p>
            <p>Email: {{employee.email}}</p>
            <p>Position: {{employee.position.title}}</p>
            <p>Hired On: {{employee.date_hired}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Tasks</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{total_tasks}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">

                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Date Assigned</th>
                    <th>Date Due</th>
                    <th>Status</th>
                    <!-- Add a click on for description -->
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for task in tasks %}

                <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.date_assigned}}</td>
                    <td>{{task.date_due}}</td>
                    <td>{{task.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}