{% load static %}

<style>
    .hello-msg {
        font-size: 18px;
        color: white;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg bg-dark" style="background-color: #303030 !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" style="color: white; " href="{% url 'home' %}">Dashboard</a>
            </li>
            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'positions' %}">Positions</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'chat' %}">Chat</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'account' %}">Settings</a>
            </li>
            {% endif %}
            {% if request.user.unauthenticated_user%}
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="{% url 'register' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    {% endif %}

</nav>