<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="pending">
                <div class="card-header">
                    <h5 class="card-title">Tasks Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="complete">
                <div class="card-header">
                    <h5 class="card-title">Tasks In Progress</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{in_progress}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total">
                <div class="card-header">
                    <h5 class="card-title">Total Tasks</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_tasks}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>