{% extends 'schedule_app/main.html' %}

{% block content %}

<div class="col-md-12">
    <hr>
    <div class="card card-body" style="text-align: center;">
        <table class="table table-sm">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Date Assigned</th>
                <th>Date Due</th>
                <th>Priority</th>
                <th>Note</th>
            </tr>
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.status}}</td>
                <td>{{task.date_assigned}}</td>
                <td>{{task.date_due}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.note}}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}