{% extends 'schedule_app/main.html' %}

{% block content %}

{% include 'schedule_app/status.html' %}

<br>

<div class="row">
    <div class="col-md-7">
        <h5>TASKS ASSIGNED TO ME</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Date Due</th>
                    <th>Priority</th>
                    <th>Details</th>
                    <th>Update Status</th>
                </tr>

                {% for task in tasks %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.date_due}}</td>
                    <td>{{task.priority}}</td>
                    <td><a class="btn btn-sm btn-outline-dark" href="{% url 'task_details' task.id %}">Details</a></td>
                    <td><a class="btn btn-sm btn-outline-dark" href="{% url 'update_status' task.id %}">Update
                            Status</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}